#!/bin/bash

CHEZMOI={{ .chezmoi.sourceDir }}

if [ -n "$ELLIPSES_REAPPLY" ]; then
    exit 0
fi

$CHEZMOI/ellipses-tools/generate-chezmoi-links.sh

diff="$(chezmoi diff --no-pager)"

if [ -n "$diff" ]; then
    echo
    chezmoi diff
    confirmed=

    while true; do
        read -p "Do you want to apply the changes now? [Y/n] "
        case $yn in
                [Yy]* ) confirmed=true ;;
                [Nn]* ) exit 1;;
        esac
    done

    if [ -n "$confirmed" ]; then
        export ELLIPSES_REAPPLY=true
        chezmoi -v apply
    fi
fi
